* {
    padding: 0px;
    margin: 0px;
    height: auto;
}


/* common shared style */
body {

    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "width" 100;
}

.tex-primary {
    color: #FD6E0A;
}

/* nave related style */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;


}

.nav-bar {
    color: black;
    font-size: 45px;
    font-weight: 800px;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;

}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

/* header related style| */
.header {
    background: color #fff8f3;
    background-image: url(Image/White-Color-Abstract-Background-4k-Download.png);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
   
}

.banner{
    padding: 100px 300px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
    
}
.profile-pic{
 
    height: 540px;
}
.banner-grity{
    font-size: 35px;
    
}
.nanner-titel{
   font-size: 60px;
   color: #474747;
   font-weight: 700px;
   margin-bottom: 20px;
}
.tex-discription{
    margin-bottom: 15px;
 text-size-adjust: ;
   
}
/* main section style */


/* about section style */

.about{
  text-align: center;
  background-color: #FFF8F3;
  height: 350px;
  padding: 100px;

}
.section-titel{
   font-size: 35px;
   padding: 10px;

}
.section-discription{
 padding: 40px;
   
}
.main{
    margin: 100px 250px ;
    align-items: center ;

}
.about-info-cointairner{
    
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.main-section1{
    margin-top: 230px;
}
.section-contain{
    display: flex;
    
    height:auto;
    width: 1200px;
  
}
.section-style{
    padding: 20px 50px 50px 50px;
    border:20px solid #FFFFFF;
    background-color: #a7f1a7;
  
}
.section-tite-2{
    padding-top: 15px;
}
.js-image{
    height: 100px;
    width: 100x;
    margin-left: 0px
}